{:highlights [{:id #uuid "64775de5-e9f2-4e46-a6c8-07b5b59b68ef",
               :page 35,
               :position {:bounding {:x1 0,
                                     :y1 222,
                                     :x2 665.1659545898438,
                                     :y2 594.1875,
                                     :width 756,
                                     :height 978.3529411764706},
                          :rects ({:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 241.5,
                                   :width 756,
                                   :height 978.3529411764706}
                                  {:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 257.5,
                                   :width 756,
                                   :height 978.3529411764706}
                                  {:x1 95.0390625,
                                   :y1 517.3828125,
                                   :x2 653.9345092773438,
                                   :y2 542.8828125,
                                   :width 756,
                                   :height 978.3529411764706}
                                  {:x1 95.0390625,
                                   :y1 543.03125,
                                   :x2 665.1659545898438,
                                   :y2 568.53125,
                                   :width 756,
                                   :height 978.3529411764706}
                                  {:x1 95.0390625,
                                   :y1 547.03125,
                                   :x2 665.1659545898438,
                                   :y2 565.3515625,
                                   :width 756,
                                   :height 978.3529411764706}
                                  {:x1 95.0390625,
                                   :y1 568.6875,
                                   :x2 311.5887756347656,
                                   :y2 594.1875,
                                   :width 756,
                                   :height 978.3529411764706}),
                          :page 35},
               :content {:text "Complexity is scary, and ambiguity more so, because you don’t even know how much you should be scared and that scares you even more."},
               :properties {:color "yellow"}}],
 :extra {:page 35}}
