{:highlights [{:id #uuid "64778e42-c885-4ac7-b87e-5207de5b2b54",
               :page 27,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 731.4006958007812,
                                     :y2 959.03125,
                                     :width 853,
                                     :height 1103.8823529411764},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 853,
                                   :height 1103.8823529411764}
                                  {:x1 0,
                                   :y1 430,
                                   :x2 0,
                                   :y2 449.5,
                                   :width 853,
                                   :height 1103.8823529411764}
                                  {:x1 0,
                                   :y1 446,
                                   :x2 0,
                                   :y2 465.5,
                                   :width 853,
                                   :height 1103.8823529411764}
                                  {:x1 189.8203125,
                                   :y1 877.765625,
                                   :x2 698.3203125,
                                   :y2 906.765625,
                                   :width 853,
                                   :height 1103.8823529411764}
                                  {:x1 238.625,
                                   :y1 882.265625,
                                   :x2 698.3203125,
                                   :y2 903.171875,
                                   :width 853,
                                   :height 1103.8823529411764}
                                  {:x1 107.3046875,
                                   :y1 903.8984375,
                                   :x2 731.4006958007812,
                                   :y2 932.8984375,
                                   :width 853,
                                   :height 1103.8823529411764}
                                  {:x1 107.3046875,
                                   :y1 908.3984375,
                                   :x2 731.4006958007812,
                                   :y2 929.3046875,
                                   :width 853,
                                   :height 1103.8823529411764}
                                  {:x1 107.3046875,
                                   :y1 930.03125,
                                   :x2 479.285888671875,
                                   :y2 959.03125,
                                   :width 853,
                                   :height 1103.8823529411764}
                                  {:x1 107.3046875,
                                   :y1 934.53125,
                                   :x2 479.285888671875,
                                   :y2 955.4375,
                                   :width 853,
                                   :height 1103.8823529411764}),
                          :page 27},
               :content {:text "Don’t get trapped into solving the strictest definition of a problem. It’s much better to have a simple solution for the part of the problem that actually needs to be solved"},
               :properties {:color "yellow"}}],
 :extra {:page 27}}
